.heading {
  width: 100%;
  margin-top: 100px;
}

.paper_container {
  height: 350px !important;
}

.label_container {
  font-size: 20px;
  margin-left: 20px;
}

.submit_button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.grid_container {
  margin-top: 40px;
  margin-left: 90px;
}
